<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.with.category.CategoryMapper">
	<resultMap type="com.example.with.category.Category" id="category">
		<result property="category_num" column="category_num"/>
		<result property="category_name" column="category_name"/>
		<result property="parent_category_num" column="parent_category_num"/>
	</resultMap>
	<!--카테고리추가-->
	<insert id="insertCategory1" parameterType="com.example.with.category.Category">
		insert into category1 values(seq_category1.nextval,#{category_name})
	</insert>
	<insert id="insertCategory2" parameterType="com.example.with.category.Category">
		insert into category2 values(seq_category2.nextval,#{category_name},#{parent_category_num})
	</insert>
	<insert id="insertCategory3" parameterType="com.example.with.category.Category">
		insert into category3 values(seq_category3.nextval,#{category_name},#{parent_category_num})
	</insert>
	
	<!--카테고리출력-->
	<select id="selectCategory1" parameterType="int" resultMap="category">
		select * from category1 where category_num=#{category_num} order by category_name
	</select>
	<select id="selectCategory2" parameterType="int" resultMap="category">
		select * from category2 where category_num=#{category_num} order by category_name
	</select>
	<select id="selectCategory3" parameterType="int" resultMap="category">
		select * from category3 where category_num=#{category_num} order by category_name
	</select>
	
	<!--카테고리전체출력-->
	<select id="selectAllCategory1" resultMap="category">
		select * from category1 order by category_name
	</select>
	<select id="selectAllCategory2" resultMap="category" parameterType="int">
		select * from category2 where parent_category_num=#{parent_category_num} order by category_name
	</select>
	<select id="selectAllCategory3" resultMap="category" parameterType="int">
		select * from category3 where parent_category_num=#{parent_category_num} order by category_name
	</select>
	
	<!--카테고리삭제-->
	<delete id="deleteCategory1" parameterType="int">
      delete category1 where category_num = #{category_num}
   </delete>
   
   <delete id="deleteCategory2" parameterType="int">
      delete category2 where category_num = #{category_num}
   </delete>
   
   <delete id="deleteCategory3" parameterType="int">
      delete category3 where category_num = #{category_num}
   </delete>
	
</mapper>