<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.with.notice.NoticeMapper">
    <resultMap type="com.example.with.notice.Notice" id="Notice">
        <result property="notice_num" column="notice_num"/>
        <result property="notice_title" column="notice_title"/>
        <result property="notice_content" column="notice_content"/>
        <result property="notice_date" column="notice_date"/>
    </resultMap>

    <!-- 공지사항 등록 -->
    <insert id="insertNotice"
            parameterType="com.example.with.notice.Notice">
        insert into notice
        VALUES (seq_notice.nextval,
                #{notice_title},
                #{notice_content},
                sysdate)
    </insert>

    <!-- 공지사항 전체 출력 -->
    <select id="selectAllNotice" resultMap="Notice">
        SELECT *
        FROM notice
        ORDER BY notice_num
    </select>

    <!-- notice_num으로 출력 -->
    <select id="selectNotice" parameterType="int" resultMap="Notice">
        SELECT *
        FROM notice
        WHERE notice_num = #{notice_num}
    </select>

    <!-- 공지사항 수정 -->
    <update id="updateNotice"
            parameterType="com.example.with.notice.Notice">
        UPDATE notice
        SET notice_title   = #{notice_title},
            notice_content = #{notice_content} notice_num = #{notice_num}
    </update>

    <!-- 삭제 -->
    <delete id="deleteNotice" parameterType="int">
        DELETE
        FROM notice
        WHERE notice_num = #{notice_num}

    </delete>
    <!--    공지 목록의 전체 갯수-->
    <select id="selectListSize" resultType="int">
        select count(*)
        from notice
    </select>
    <!--    원하는 목록 수 만큼 불러오고 페이징 기능과 연동-->
    <select id="selectListByLimit" resultMap="Notice">
        select *
        from (
                 select rownum as num, list.*
                 from (select *
                       from notice
                       order by notice_num desc) list) data
        where num between #{start} and #{last}
    </select>
    <!--    공지 이름으로 검색-->
    <select id="selectListByNotice_title" parameterType="String" resultMap="Notice">
        select *
        from notice
        where notice_title like '%${notice_title}%'
        order by notice_num desc
    </select>
    <!--    공지 번호로 검색-->
    <select id="selectListByNotice_num" resultMap="Notice">
        select *
        from notice
        where notice_num = #{notice_num}
        order by notice_num desc
    </select>
    <!--    공지 날짜로 검색-->
    <select id="selectListByNotice_date" resultMap="Notice">
        select *
        from notice
        where notice_date = #{notice_date}
        order by notice_num desc
    </select>

</mapper>
