<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.with.comments.CommentsMapper">
	<resultMap type="com.example.with.comments.Comments" id="comments">
		<result property = "comments_num" column="comments_num"	/>
		<result property = "product_num" column="product_num"	/>
		<result property = "member_id" column="member_id"	/>
		<result property = "comments_date" column="comments_date"	/>
		<result property = "comments_content" column="comments_content"	/>
		<result property = "top_comments_num" column="top_comments_num"	/>
	</resultMap>
	
	<insert id="insertComments" parameterType="com.example.with.comments.Comments">
		insert into comments values(seq_comments.nextval, #{product_num}, #{member_id}, sysdate, 
		#{comments_content}, ${top_comments_num})
	</insert>
	
	<update id="updateComments"	parameterType="com.example.with.comments.Comments">
		update comments set comments_date=sysdate, comments_content=#{comments_content}
		where comments_num=#{comments_num}	
	</update>
	
	<delete id="deleteComments" parameterType="int">
		delete comments where comments_num=#{comments_num}	
	</delete>
	
	<update id="deletedTopContent" parameterType="int">
		update comments set	comments_content=null where comments_num=#{comments_num}
	</update>
	
	<select id="selectByCommentsNum" resultType="com.example.with.comments.Comments">
		select * from comments where comments_num=#{comments_num}
	</select>
	
	<select id="selectByProductNum" resultMap="comments" parameterType="int">
		select * from comments where product_num=#{product_num} order by comments_num
	</select>
	
	<select id="selectByMemberId" resultMap="comments" parameterType="String">
		select * from comments where member_id=#{member_id} order by comments_num
	</select>	
	
	<select id="selectByTopCommentsNum" resultMap="comments">
		select * from comments where top_comments_num=#{top_comments_num} order by comments_num
	</select>
	
	<select id="selectSeqCurrval" resultType="int">
	select seq_comments.currval from dual
	</select>
		

	


	
	
	
	
	
	
	
	<!-- 알람 구현시 필요
	<select id="selectSeqCurrval" resultType="int">
		select seq_comments.currval from dual
	</select>
	 -->	
	
</mapper>